<header class="masthead" style="background-image: url('img/bgHeader.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Sudi Simba</h1>
                    <span class="subheading">Never stop learning!</span>
                    <hr />
                    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-2 my-2 my-md-0">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Search posts for..." />
                            <div class="input-group-append">
                                <button class="btn btn-dark" style="padding: 0 10px 0 10px; border-radius: 5px;"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>